.cuerpo_comandas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px; 
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}
.menu-container {
    text-align: center;
    inline-size: 70%;
    background-color: #b4e397;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    inline-size: 90%;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Patrick Hand', sans-serif; /* Fuente escolar */
    text-align: center;
}
.numbers-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.number-box {
    background-color: white;
    border: 2px solid #ddd;
    padding: 20px;
    font-size: 1.5em;
    color: #333;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.number-box.pressed {
    border-color: #ff9800;
    background-color: #fff7e6;
}
.number-box .number {
    font-size: 2em;
    font-weight: bold;
}
.number-box .text {
    font-size: 1em;
    color: #555;
}
.done-button {
    aspect-ratio: 16 / 9;
    block-size: 80px;

    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: rgb(15, 100, 15);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.done-button:hover {
    background-color: #45a049;
}

.cabecera-peticion{
    inline-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    h1{
        inline-size: 100%;
        text-align: center;
    }
}

.boton-volver-atras{
    align-self: flex-start;
    
    block-size: 100%;
    inline-size: 20%;
    min-inline-size: fit-content;
    padding: 15px;

    font-size: large;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgb(255, 255, 7);
    color: black;
    cursor: pointer;
}

.boton-volver-atras:hover{
    background-color: #ff9800;
    box-shadow: 2px 5px 5px black;
}

.aula-box{
    background-color: white;
    block-size: 3.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}