.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 40px;
}

.botones-buscador{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.buscador{
    inline-size: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.search-bar .input-buscador {
    flex: 1;
    inline-size: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-btn{
    inline-size: fit-content;
    margin: 0;
}

.search-btn,
        .create-task-btn {
            padding: 8px 15px;
            background-color: #1e90ff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }